@page "/reviews"

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Reseñas</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/reviews/create">Nueva Reseña</a>
</div>

<GenericList MyList="Reviews">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Comment</th>
                    <th>Score</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Recipe</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Reviews!)
                {
                    <tr>
                        <td>
                            @review.Comment
                        </td>
                        <td>
                            @review.Score
                        </td>
                        <td>
                            @review.Date
                        </td>
                        <td>
                            @GetUserName(review.UserId)
                        </td>
                        <td>
                            @GetRecipeTitle(review.RecipeId)
                        </td>
                        <td>
                            <a href="/reviews/edit/@review.Id" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(review))>Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Review>? Reviews { get; set; }
    public List<User>? Users { get; set; }
    public List<Recipe>? Recipes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var reviewResponse = await repository.Get<List<Review>>("api/reviews");
        Reviews = reviewResponse.Response!;

        var userResponse = await repository.Get<List<User>>("api/users");
        Users = userResponse.Response!;

        var recipeResponse = await repository.Get<List<Recipe>>("api/recipes");
        Recipes = recipeResponse.Response!;
    }

    private string GetUserName(int userId)
    {
        var user = Users.FirstOrDefault(u => u.Id == userId);
        return user != null ? $"{user.Name} {user.LastName}" : string.Empty;
    }

    private string GetRecipeTitle(int recipeId)
    {
        var recipe = Recipes.FirstOrDefault(r => r.Id == recipeId);
        return recipe != null ? recipe.Title : string.Empty;
    }

    private async Task Delete(Review review)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmation",
                Text = "Are you sure you want to delete the record?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/reviews/{review.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var errorMessage = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
